@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import "tailwindcss";

body{
  background-color: #C3F3C0;
}
.container{
  border: 2px solid rgb(18, 116, 59);
  margin-top: 150px;
  margin-left: 560px;
  width: 380px;
  height: 100%;
  background-color: white;
  /* padding: 5px; */
  /* border-radius: 10px; */
}
.container .heading{
  width: 100%;
  height: 80px;
  background-color: rgb(18, 116, 59);
  margin-top: -20px;
  /* border-radius: 8px; */
}
.container .heading h3{
  margin-left: 140px;
  font-size: 30px;
  margin-top: 20px;
  padding-top: 10px;
  color: white;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.container .form-container{
  border: 1px solid green;
  width: 100%;
  height: 75%;
}
.container .form-container .form-toggle{
  padding: 20px 20px 0px 33px;
  /* padding-left: 40px; */
}
.container .form-container .form-toggle .active{
  background-color: rgb(18, 116, 59);
  color: white;
}
.container .form-container .form-toggle button{
  width: 150px;
  font-size: 20px;
  margin-left: 5px;
  color: rgb(18, 116, 59);
  border: 2px solid rgb(18, 116, 59);
  border-radius: 10px;
  padding: 5px;
  background-color: white;
}
.container .form-container .form-toggle button:hover{
  cursor: pointer;
}
.container .form-container .form{
  padding: 0px 18px 0px 18px;
}
.container .form-container .form h2{
  color: rgb(9, 87, 46);
  margin-left: 113px;
}
.container .form-container .form input{
  width: 92%;
  margin: 0px 0px 15px 0px;
  padding: 13px;
  border: 1px solid rgb(9, 87, 46);
  border-radius: 10px;
  color: rgb(9, 87, 46);
}
.container .form-container .form input:active{
  border: 2px solid rgb(9, 87, 46);
}
.container .form-container .form a{
  margin-left: 210px;
}
.container .form-container .form button{
  width: 100%;
  padding: 8px;
  margin-top: 15px;
  font-size: 20px;
  border-radius: 8px;
  color: white;
  background-color: rgb(9, 87, 46);
  border: none;
  margin-bottom: 15px;
}
.container .form-container .form button:hover{
  cursor: pointer;
  background-color: white;
  border: 2px solid rgb(9, 87, 46);
  color: rgb(9, 87, 46);
}
.container .form-container .form p{
  margin-left: 70px;
  margin-top: 0px;
}
.container .form-container .form p a{
  margin-left: 0px;
}